# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Model artifacts
*.joblib
*.pkl

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
